@typeparam T
<h3>@Title</h3>
<ul class="list-group">
  @foreach (var runner in Runners) {
    <li class="list-group-item">
      @runner.Value@Unit - @runner.Name - @runner.Club
    </li>
  }
</ul>
<br/>