<h2>Hall Of Fame</h2>

<NameAndValueList Title="Leg wins" Runners="_LegWins" />
<NameAndValueList Title="Social controls" Runners="_Social" />
<NameAndValueList Title="Least number mistakes" Runners="_LeastNumberOfMistakes" />
<NameAndValueList Title="Most number mistakes" Runners="_MostNumberOfMistakes" />
<NameAndValueList Title="Least mistakes timewise" Runners="_LeastMistakesTimewise" Unit="s" />
<NameAndValueList Title="Most mistakes timewise" Runners="_MostMistakesTimewise" Unit="s" />
<NameAndValueList Title="Most consistant" Runners="_MostConsistant" />
<NameAndValueList Title="Least consistant" Runners="_LeastConsistant" />