<FormGroup>
  <label>Reference:</label>
  <select @onchange="UpdateReference" class="form-control">
    <option value="fastest">-- Fastest --</option>
    @foreach (var option in Result.Runners ?? new()) {
      <option value="@option.Name">@option.Name</option>
    }
    <option value="superman">-- Superman --</option>
  </select>
</FormGroup>

<div class="chart-container" style="position: relative; height:40vh; width:80vw">
  <canvas id="myChart"></canvas>
</div>
